extends layout.pug

block content
  if user
    div= user.name

    div
      h2 他最近发过的帖子
      ul
        each post in posts
          li
            a(href="/post/" + post.id)= post.content
            a(href="/delete-post/" + post.id)  删除
      h2 他最近的评论
      ul
        each comment in comments
          li
            h3
              span= comment.postTitle
              a(href="/delete-comment/" + comment.id)  删除
            p= comment.content
  else
    |没有您要找的用户